h1
{
  color: blue;
  font-size: 25px;

}
#main{
  background-color: lightgreen;
}
.container
{
  border: 1px solid black;
  padding:10px;
}
.container p{
  padding: 20px;
  background-color: lightgoldenrodyellow;
  color: pink;
  
}

.container .content {
  background-color: green;
  color blue;
}
.container .content > p {
  font-weight: bold;
  color: purple;
}

.container .content + p {
  font-style: italic;
  color: purple;
}
.container.content {
  border: 2px solid red;
}
 a:hover {
      color: orange;
    }